<!DOCTYPE html>
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scal=1">
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="app.css">
	<title>My App</title>
</head>
<body>
    <div class="container" ng-controller="anothercontroller">
      <form name="regform" novalidation ng-submit="create();">
         <uib-accordion close-others="true">
             <uib-accordion-group heading="Login Details" is-open="true">
                <div class="form-row row">
                 <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Email</label></div>
                 <div class="col-lg-3">
                     <input type="email" name="email" class="form-control" ng-model="customer.email" 
					        ng-modal-options = "{updateOn:'default blur'}"
							availableEmail
					        required placeholder="please input your email"/>
                 </div>
                 <div class="col-lg-6">
				    <div style="color:red" ng-show="regform.email.$error.email">Email is not acceptable.</div>
					<div style="color:red" ng-show="regform.email.$error.availableEmail">email is occupied</div>
				 </div>
                 </div>
                 
                 <div class="form-row row">
                 <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Retype Email</label></div>
                 <div class="col-lg-3">
                     <input type="email" name="retypeEmail" class="form-control" ng-model="customer.retypeemail" required placeholder="Please retype your email" />
                 </div>
                 <div class="col-lg-6">
                     <div style="color:red" ng-show="retypeEmailNotTheSame()">retype email incorrrect</div>
                 </div>
                 </div>

				<div class="form-row row">
					<div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Password</label></div>
					<div class="col-lg-3">
						<input type="password" name="password" class="form-control" ng-model="customer.password" required />
					</div>
					<div class="col-lg-6">
					     <div style="color:red" ng-show="false">password doesn't match required pattern</div>
					</div>
				</div>
				
				<div class="form-row row">
					 <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Retype Password</label></div>
					 <div class="col-lg-3">
						 <input type="password" name="retypePassword" class="form-control" ng-model="customer.retypePassword" required/>
					 </div>
					 <div class="col-lg-6">
						 <div style="color:red" ng-show="retypePwdNotTheSame()">Retype password is not identical to the password</div>
					 </div>                 
				</div>
             </uib-accordion-group>
			 
             <uib-accordion-group heading="Customer Declaration" is-open="false">
               <div class="form-row row">
			        <div class="col-lg-12">It is a condition of creating and maintaining an account with QTAC that you accept the Customer Declaration. QTAC may,
					from time to time, amend the Customer Declaration and you will be notificed of changes when they are made.</div>
                    <div class="col-lg-12">
                       {{activeLegalDeclaration.content}}
                    </div>
					<input type="hidden" value="{{activeLegalDeclaration.version}}" ng-model="customer.declarionVersion" />
               </div>
               <div class="form-row row">
                    <div class="col-lg-12">
                          <label>
                            <input type="checkbox" ng-model="noWrapSlides">
                            I accept the Customer Declaration
                          </label>
                    </div>
               </div>
             </uib-accordion-group>
             <uib-accordion-group heading="Personal Details" is-open="false">
                <div class="form-row row">
                    <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Family Name</label></div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" required ng-model="customer.name.familyName"/>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Given Name</label></div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" required ng-model="customer.name.givenName" />
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-lg-3"><label class="pull-right">Second Given Name</label></div>
                    <div class="col-lg-3">
                        <input type="text" class="form-control" ng-model="customer.name.secondGivenName" />
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
                <div class="form-row row">
                    <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Date of Birth</label></div>
                    <div class="col-lg-3">
                        <p class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd" required
							       ng-model="customer.dateOfBirth" is-open="status.opened" datepicker-options="dateOptions"
								   min-date="minDate" max-date="maxDate" close-text="close"/>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                    <div class="col-lg-6">
                    </div>
                </div>
             </uib-accordion-group>
             <uib-accordion-group heading="Addresses" is-open="true">
			    <div class="form-row row">
				    <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Residential Address Country</label></div>
					<div class="col-lg-3"><select class="form-control" ng-model="customer.addresses.residential.country">
					         <option ng-repeat="c in countries">{{c}}</option>
					 </select></div>
					<div class="col-lg-6"></div>
				</div>
			    <div class="form-row row">
				    <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Residential Address</label></div>
					<div class="col-lg-3"><input type="text" class="form-control" ng-model="customer.addresses.residential.line1"/></div>
					<div class="col-lg-6"></div>
				</div>
			    <div class="form-row row">
				    <div class="col-lg-3"></div>
					<div class="col-lg-3"><input type="text" class="form-control" ng-model="customer.addresses.residential.line2"/></div>
					<div class="col-lg-6"></div>
				</div>
			    <div class="form-row row">
				    <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Suburb or Town, State or Territory and Postcode</label></div>
					<div class="col-lg-3"></div>
					<div class="col-lg-6"></div>
				</div>
			    <div class="form-row row">
				    <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Is your postal address the same as your residential address?</label></div>
					<div class="col-lg-3">
					   <input type="radio" name="postalSameToResidential" ng-model="customer.addresses.postalSameToResidential" value="true">Yes &nbsp; &nbsp;
					   <input type="radio" name="postalSameToResidential" ng-model="customer.addresses.postalSameToResidential" value="false">No
					</div>
					<div class="col-lg-6"></div>					
				</div>			
				<div ng-show="customer.addresses.postalSameToResidential === 'false'">				
					<div class="form-row row">
						<div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Postal Address Country</label></div>
						<div class="col-lg-3"><select class="form-control" ng-model="customer.addresses.postal.country">
						    <option ng-repeat="c in countries">{{c}}</option>
						</select></div>
						<div class="col-lg-6"></div>
					</div>
				</div>	
			 </uib-accordion-group>
             <uib-accordion-group heading="Contact Details" is-open="false">
			 		<div class="form-row row">
						<div class="col-lg-3"><label class="pull-right">Contact Number</label></div>
						<div class="col-lg-3"><input type="text" class="form-control" ng-model="customer.contacts.phone.number"/></div>
						<div class="col-lg-6"></div>
					</div>
			 		<div class="form-row row">
						<div class="col-lg-3"><label class="pull-right">Mobile Number</label></div>
						<div class="col-lg-3"><input type="text" class="form-control" ng-model="customer.contacts.mobile.number"/></div>
						<div class="col-lg-6"></div>
					</div>
			 </uib-accordion-group>
             <uib-accordion-group heading="Security Questions" is-open="false">
				<div ng-repeat="qa in customer.questions track by $index">
                <div class="form-row row">
                    <div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Security Question {{$index + 1}}</label></div>
                    <div class="col-lg-3">
					    <select class="form-control" ng-model="qa.questionCode">
						    <option ng-repeat="q in questions" id="{{q.id}}">{{q.description}}</option>
						</select>
                    </div>
					<div class="col-lg-6">
                         
					</div>
                </div>
				<div class="form-row row">
				        <input type="hidden" value="{{index + 1}}" ng-model="qa.sequence" />
						<div class="col-lg-3"><label class="pull-right"><span style="color:red">*</span>Security Answer {{$index+1}}</label></div>
						<div class="col-lg-3"><input type="text" class="form-control" required ng-model="qa.answer" /></div>
						<div class="col-lg-6"></div>
				</div>
				</div
             </uib-accordion-group>
        </uib-accordion>
			<div class="form-row row">
					 <div class="col-lg-10">
					   <input type="button" class="btn btn-default" value="<< Back" />
					 </div>
					 <div class="col-lg-2">
					   <input type="submit" class="btn btn-success" value="Continue >>" />
					 </div>
				</div>
      </form>
       
    </div>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="app.js"></script>
</body>
</html>